.THIS .label-val{
        color: #696969; 
        line-height: 1.375; 
        margin-bottom: 0.25rem;
}

.THIS .val{
	width: 100%;
    border-radius: .25rem;
    display: inline-block;
    line-height: 1.875rem;
    min-height: calc(2.125rem + 2px);    
}
.THIS hr{
    margin: 0.8rem 0 !important; 
}

.THIS .left-col{
    margin-left: 20px;
}

.THIS .uiButton{
    color: #FFFFFF !important;
}