<div class="container-fluid">
    <div class="row"  ng-show="hasPIO">
        <div class="pbSubheader-sf" id="head"></div>
        <div class="header-sf" id="head">PIO Commission Rates Per Opportunity</div>
        <div class="row"><div class="col-md-2 label-col-sf">PIO Base Rate </div> <div class="col-md-2 data-col-sf">{{pioBaseRate | number : 2}}</div></div>
        <div class="row"><div class="col-md-2 label-col-sf">PIO Base Rate + H1 Boost  </div> <div class="col-md-2 data-col-sf"> {{pioBaseRateH1Factior | number : 2}}</div></div>
        <div class="row"><div class="col-md-2 label-col-sf">PIO Annual Accelerator Rate  </div> <div class="col-md-2 data-col-sf"> {{pioBaseRateAnnualFactor | number : 2}}</div></div>
        <div class="row"><div class="col-md-2 label-col-sf">PIO Annual Accelerator Rate + H1 Boost  </div> <div class="col-md-2 data-col-sf"> {{pioBaseRateAnnualFactorH1Factior | number : 2}}</div></div>
    </div>
    <div class="row pbSubheader-sf" id="head"></div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="h1 payment-due col-md-6"> 
            
            Current Commission Calculation <img src="/img/s.gif" alt="" class="helpOrb" data-toggle="tooltip" data-html="true" data-container="body" title="For commission payment due, please reference payment section below"> : ${{commissionPlan.paymentDue | number : 2}}
        </div>
    </div>

    <div class="formula">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-1 operand">(Sum Commission</div>
                <div class="col-md-1 operator">*</div>
                <div class="col-md-1 operand">Base Rate</div>
                <div class="col-md-1 operator">*</div>
                <div class="col-md-1 operand">H1 Factor</div>
                <div class="col-md-1 operator">)</div>
                <div class="col-md-1 operator">+</div>
                <div class="col-md-1 operand">(Sum Commission</div>
                <div class="col-md-1 operator">-</div>
                <div class="col-md-1 operand">Annual quota</div>
                <div class="col-md-1 operator">)</div>
                <div class="col-md-1 operator">*</div>
                <div class="col-md-1 operand">Base Rate</div>
                <div class="col-md-1 operator">*</div>
                <div class="col-md-1 operand">H1 Factor</div>
                <div class="col-md-1 operator">*</div>
                <div class="col-md-1 operand">Annual Factor</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-1 operand">({{commissionPlan.Sum_commission_amount__c | number : 2}}</div>
                <div class="col-md-1 operator">*</div>
                <div class="col-md-1 operand">{{baseRate}}</div>
                <div class="col-md-1 operator">*</div>
                <div class="col-md-1 operand">{{H1Factor}}</div>
                <div class="col-md-1 operator">)</div>
                <div class="col-md-1 operator">+</div>
                <div class="col-md-1 operand">(Sum Commission</div>
                <div class="col-md-1 operator">-</div>
                <div class="col-md-1 operand">{{annualQuota | number : 2}}</div>
                <div class="col-md-1 operator">)</div>
                <div class="col-md-1 operator">*</div>
                <div class="col-md-1 operand">{{baseRate}}</div>
                <div class="col-md-1 operator">*</div>
                <div class="col-md-1 operand">{{H1Factor}}</div>
                <div class="col-md-1 operator">*</div>
                <div class="col-md-1 operand">{{annualFactor}}</div>
            </div>
        </div>
    </div>

    <div id="wrap">
        <div class="row">
            <div class="col-md-6">
             
                <!----------Earnings Table---------->
                <div class="row table-title">
                    Earnings YTD <img src="/img/s.gif" alt="" class="helpOrb" data-toggle="tooltip" data-html="true" data-container="body" title="balance of PIO Earnings+Commission Earnings+Bonus Credit Paid YTD">
                </div>
                 <div class="row">
                    <table  class="border-table">
                      <tr>
                        <th value="1">Commission Earnings YTD<img src="/img/s.gif" alt="" class="helpOrb" data-toggle="tooltip" data-html="true" data-container="body" title="See qualified billing below for payment YTD breakdown"></th>
                        <th value="2" ng-show="hasPIO">PIO Earnings YTD</th> 
                        <th value="3">Paid YTD<img src="/img/s.gif" alt="" class="helpOrb" data-toggle="tooltip" data-html="true" data-container="body" title="Includes PIO Earnings+Commission Earnings+Bonus Credit paid to date"></th>
                        <th value="4">Payment Due<img src="/img/s.gif" alt="" class="helpOrb" data-toggle="tooltip" data-html="true" data-container="body" title="Balance of  PIO Earnings+Commission Earnings+ Bonus Credit minus Paid YTD"></th>
                      </tr>
                      <tr>
                        <td value="1" class="paymentDue"> ${{commissionPlan.commissionEarning | number : 2}}</td>
                        <td value="2" class="paymentDue" ng-show="hasPIO"> ${{commissionPlan.PIOEarning | number : 2}}</td> 
                        <td value="3" class="paymentDue"> ${{commissionPlan.Commission_Paid__c | number : 2}}</td>
                        <td value="4" > ${{commissionPlan.paymentDue | number : 2}}</td><!--data-toggle="tooltip" data-html="true" data-container="body" data-original-title="<div class='row'>Commission Earnings + PIO Earning – Paid</div><div>{{commissionPlan.commissionEarning | number : 2}} + {{commissionPlan.PIOEarning | number : 2}} - {{commissionPlan.Commission_Paid__c | number : 2}}</div>"-->
                      </tr>
                    </table>
                </div>

                <!----------Totals Table---------->
                <!--div class="row table-title">
                    Totals Summary
                </div>
                 <div class="row">
                    <table style="width:95%">
                      <tr>
                        <th>Type</th>
                        <th>Total Opportunity</th> 
                        <th>Total Recurring Incentive</th>
                        <th>Total Qualified Billing</th>
                        <th>Total Commission Due</th>
                        <th>Total Flat Commission</th>
                      </tr>
                      <tr>
                        <td >Commission Plan</td>
                        <td value="13">{{cpOppsAmnt | number : 2}} $</td>
                        <td value="">{{recurringIncentive | number : 2}} $</td>
                        <td value="14">{{commissionPlan.totalQualifiedBilling | number : 2}} $</td> 
                        <td value="15">{{commissionPlan.totalCommissionDue | number : 2}} $</td>
                        <td value="16">{{commissionPlan.Flat_commission_amount__c | number : 2}} $</td>
                      </tr>
                      <tr ng-show="hasPIO">
                        <td >PIO</td>
                        <td value="17">{{commissionPlan.Sum_PIO__c}}</td>
                        <td value="">-</td> 
                        <td value="18">-</td> 
                        <td value="19">-</td>
                        <td value="20">-</td>
                      </tr>
                    </table>
                </div-->


                <br/>

            </div>

            <!--Right half side page-->
            <div class="col-md-6" style="display: none;">


                <!----------Base / Commission rates Table---------->
                <div class="row table-title">
                    Commission Rates
                </div>
                 <div class="row">
                    <table style="width:90%">
                      <tr>
                        <th>Type</th>
                        <th>Base Rate</th> 
                        <th>Up To Quota Base Rate </th>
                        <th>Beyond Quota Base Rate</th>
                        <th>Super Accelerator Base Rate</th>
                      </tr>
                      <tr>
                        <td >Commission Plan</td>
                        <td value="5">{{baseRate * 100 | number : 6}} %</td>
                        <td value="6">{{commissionPlan.Up_to_quota_rate__c * 100 | number : 6}} %</td> 
                        <td value="7">{{commissionPlan.Beyond_quota_rate__c * 100 | number : 6}} %</td>
                        <td value="8">TBD</td>
                      </tr>
                      <tr ng-show="hasPIO">
                        <td >PIO</td>
                        <td value="9">{{baseRatePIO | number : 6}}</td>
                        <td value="10">{{commissionPlan.Up_to_quota_rate_PIO__c | number : 6}}</td> 
                        <td value="11">{{commissionPlan.Beyond_quota_rate_PIO__c | number : 6}}</td>
                        <td value="12">-</td>
                      </tr>
                    </table>
                </div>


            </div>
        </div>

        <!----------Accelerators Table---------->
        <div class="row">
            <div class="col-md-6" style="padding-left: 0px;">
                <div class="table-title">
                    H1 Accelerator
                </div>
                <table class="border-table">
                  <tr>
                    <th>Accelerator</th>
                    <th>Attained</th>
                    <th>YTD Attainment % <img src="/img/s.gif" alt="" class="helpOrb" data-toggle="tooltip" data-html="true" data-container="body" title="(Qualified Billings + previous sales plan) / Target"></th>
                    <th>Qualified Billings</th>
                    <th>Target</th>
                  </tr>
                  <tr ng-repeat="cra in commissionRuleAssList" ng-if="cra.Commission_Rule__r.Attainable__c == true && cra.Name.indexOf('H1') > -1">
                    <td >{{cra.Name}}</td>
                    <td value="38" class="center"><img ng-if="accelerator[cra.Type__c].attainment >= 1" src="{{appResourceUrl}}/img/check-mark.png" width="20" alt="check mark icon green" /></td>
                    <td value="39">{{accelerator[cra.Type__c].attainment * 100 | number:2}} %</td>
                    <td > {{cra.Name.indexOf('PIO') > -1 ? '' : '$'}}{{accelerator[cra.Type__c].current | number:(cra.Name.indexOf('PIO') > -1 ? '': 2)}}</td>
                    <td > {{cra.Name.indexOf('PIO') > -1 ? '' : '$'}}{{accelerator[cra.Type__c].target | number:(cra.Name.indexOf('PIO') > -1 ? '': 2)}}</td>
                  </tr>
                </table>
            </div>
            <div class="col-md-6">
                <div class="table-title">
                    Annual Accelerator
                </div>
                <table  class="border-table">
                  <tr>
                    <th>Accelerator</th>
                    <th>Attained</th>
                    <th>YTD Attainment % <img src="/img/s.gif" alt="" class="helpOrb" data-toggle="tooltip" data-html="true" data-container="body" title="(Qualified Billings + previous sales plan) / Target"></th>
                    <th>Qualified Billings <img src="/img/s.gif" alt="" class="helpOrb" data-toggle="tooltip" data-html="true" data-container="body" title="Products (Perp & Subs) + PS + 1 Yr Renewal + Bonus Credit (Recurring Component)"></th>
                    <th>Target</th>
                  </tr>
                  <tr ng-repeat="cra in commissionRuleAssList" ng-if="cra.Commission_Rule__r.Attainable__c == true && cra.Name.indexOf('Annual') > -1">
                    <td >{{cra.Name}}</td>
                    <td value="38" class="center"><img ng-if="accelerator[cra.Type__c].attainment >= 1" src="{{appResourceUrl}}/img/check-mark.png" width="20" alt="check mark icon green" /></td>
                    <td value="39">{{accelerator[cra.Type__c].attainment * 100 | number:2}} %</td>
                    <td > {{cra.Name.indexOf('PIO') > -1 ? '' : '$'}}{{accelerator[cra.Type__c].current | number:(cra.Name.indexOf('PIO') > -1 ? '': 2)}}</td>
                    <td > {{cra.Name.indexOf('PIO') > -1 ? '' : '$'}}{{accelerator[cra.Type__c].target | number:(cra.Name.indexOf('PIO') > -1 ? '': 2)}}</td>
                  </tr>
                </table>
            </div>
        </div>

        <br/>
        <br/>
        <br/>

        <a data-toggle="collapse" data-target="#detailSection" aria-expanded="false" aria-controls="detailSection" class="link">
            <span class="glyphicon glyphicon-collapse-down"></span> Show More
        </a>

        <br/>
        <div id="detailSection" class="collapse">
            <hr class="row section-separator"/>
            <br/>
            <br/>
            <br/>

            <!----------Qualified Commission Table---------->
            <div style="display: none">
                <div class="row table-title">
                    Qualified Commission
                </div>
                 <div class="row">
                    <table style="width:90%" class="border-table">
                      <tr>
                        <th >Type</th>
                        <th value="5">Sum Opportunities</th> 
                        <th value="6">Qualified Commission</th>
                        <th value="8">Incentives</th>
                        <th value="10">Total</th>
                      </tr>
                      <tr>
                        <td >Commission Plan</td>
                        <td value="5">{{opportunityAmountTotal | number : 2}} $</td>
                        <td value="6">{{qualifiedAmount | number : 2}} $</td> 
                        <td value="8">{{recurringIncentive | number : 2}} $</td>
                        <td value="10">{{totalQualified | number : 2}} $</td> 
                      </tr>
                      <tr ng-show="hasPIO">
                        <td >PIO</td>
                        <td value="11">{{getCount(commissionSchedulePIOList,'Opportunity__c') | number}}</td>
                        <td value="12">{{getCount(commissionSchedulePIOList,'Opportunity__c') | number}}</td>
                        <td value="14">-</td> 
                        <td value="16">{{getCount(commissionSchedulePIOList,'Opportunity__c') | number}}</td> 
                      </tr>
                    </table>
                </div>

                <br/>
                <br/>
            </div>

            <div class="row table-title">
                Total Billings YTD <img src="/img/s.gif" alt="" class="helpOrb" data-toggle="tooltip" data-html="true" data-container="body" title="Sum of billings credit before 2nd & 3rd year support calculations and/or splits">
            </div>
            <div class="row">
                <table class="billings-table border-table">
                  <tr>
                    <th></th>
                    <th>Total Billings <img src="/img/s.gif" alt="" class="helpOrb" data-toggle="tooltip" data-html="true" data-container="body" title="sum of all orders"></th> 
                  </tr>
                  <tr >
                    <td >Products (Perp & Subs) + PS + 1 Yr Support</td>
                    <td value=""> ${{totalNoMultiYear | number : 2}}</td> 
                  </tr>
                  <tr ng-if="hasMultyYear" >
                    <td >Multi Year Support & Content</td>
                    <td value=""> ${{totalMultiYear | number : 2}}</td> 
                  </tr>
                  <tr ng-if="hasRenewal" >
                    <td >Renewal Support & Content</td>
                    <td value=""> ${{renewalTotal | number : 2}}</td> 
                  </tr>
                  <tr>
                    <td >Total Billing</td>
                    <td value=""> ${{getSum(commissionScheduleNoPIOList,'Booking_Schedule__r','Amount__c') | number : 2}}</td>
                  </tr>
                </table>
            </div>

            <div class="row table-title">
                Qualified Annual Billings YTD <img src="/img/s.gif" alt="" class="helpOrb" data-toggle="tooltip" data-html="true" data-container="body" title="Sum of billings credit after 2nd & 3rd year support calculations and/or splits">
            </div>
            <div class="row">
                <table class="billings-table border-table">
                  <tr>
                    <th></th>
                    <th>Qualified Billings <img src="/img/s.gif" alt="" class="helpOrb" data-toggle="tooltip" data-html="true" data-container="body" title="sum of all orders * Split * Commission Credit %"></th> 
                  </tr>
                  <tr >
                    <td >Products (Perp & Subs) + PS <span ng-if="!hasRenewal">+ 1 Yr Renewal </span>+ Bonus Credit (Recurring Component)</td>
                    <td value=""> ${{qualifiedNoMultiYear | number : 2}}</td> 
                  </tr>
                  <tr ng-if="hasMultyYear" >
                    <td >Multi Year Support & Content</td>
                    <td value=""> ${{qualifiedMultiYear | number : 2}}</td> 
                  </tr>
                  <tr ng-if="hasRenewal" >
                    <td >Renewal Support & Content</td>
                    <td value=""> ${{renewalQualified | number : 2}}</td> 
                  </tr>
                  <tr>
                    <td >Total Billing</td>
                    <td value=""> ${{getSum(commissionScheduleNoPIOList,'Quota_Amount__c') | number : 2}}</td>
                  </tr>
                </table>
            </div>

            <div class="row table-title">
                Qualified Billing for Payment YTD <img src="/img/s.gif" alt="" class="helpOrb" data-toggle="tooltip" data-html="true" data-container="body" title="Considering calculations for payment deals over 750k, 120 days payment, & collection risks.  Please see breakdown section below for full details">
            </div>
            <div class="row">
                <table class="billings-table border-table">
                  <tr>
                    <th></th>
                    <th>Qualified Billing for Payment <img src="/img/s.gif" alt="" class="helpOrb" data-toggle="tooltip" data-html="true" data-container="body" title="sum of all orders* Split * Commission Credit % minus collection risk, over $750K and over 120 days overdue"></th> 
                  </tr>
                  <tr >
                    <td >Products (Perp & Subs) + PS <span ng-if="!hasRenewal">+ 1 Yr Renewal </span>+ Bonus Credit (Recurring Component)</td>
                    <td value=""> ${{qualifiedNoBillingForPaymentMultiYear | number : 2}}</td> 
                  </tr>
                  <tr ng-if="hasMultyYear" >
                    <td >Multi Year Support & Content</td>
                    <td value=""> ${{qualifiedBillingForPaymentMultiYear | number : 2}}</td> 
                  </tr>
                  <tr ng-if="hasRenewal" >
                    <td >Renewal Support & Content</td>
                    <td value=""> ${{renewalQualifiedBillingForPayment | number : 2}}</td> 
                  </tr>
                  <tr>
                    <td >Total Billing</td>
                    <td value=""> ${{getSum(commissionScheduleNoPIOList,'Commission_Amount__c') | number : 2}}</td>
                  </tr>
                </table>
            </div>

            <div class="row table-title">
                Quota Attainment YTD
            </div>
            <div class="row">
                <table class="billings-table border-table">
                  <tr>
                    <th></th>
                    <th>Quota Attainment</th> 
                  </tr>
                  <tr >
                    <td >Products (Perp & Subs) + PS + 1 Yr Renewal + Bonus Credit (Recurring Component)</td>
                    <td value=""> ${{accelerator[labels.AnnualAccelerator].current | number : 2}}</td> 
                  </tr>
                  <tr>
                    <td >Quota Attainment %</td>
                    <td value="">{{accelerator[labels.AnnualAccelerator].attainment * 100 | number : 2 }} %</td> 
                  </tr>
                 
                </table>
            </div>
            
            <br/>
            <br/>

            <!----------Commission Break Down Table---------->
            <div class="row table-title">
                Qualified Billing for Payment YTD Breakdown
            </div>
             <div class="row">
                <table style="width:90%" class="border-table" border="0">
                  <tr>
                    <th>Type</th>
                    <th>Segment</th> 
                    <th>Base Rate <img src="/img/s.gif" alt="" class="helpOrb" data-toggle="tooltip" data-html="true" data-container="body" title=""></th>
                    <th>Qualified Billings for Payment</th>
                    <th>Commission Earnings YTD <img src="/img/s.gif" alt="" class="helpOrb" data-toggle="tooltip" data-html="true" data-container="body" title="Base Rate * Qualified Billing for Payment"></th>
                  </tr>
                  <tr class="noBorder">
                    <td rowspan="{{commissionBreakDownTableRowSpan}}" class="buttomBorder">Commission Plan</td>
                    <td >Up to quota</td>
                    <td value="17" class="commissionEarning">{{commissionPlan.Up_to_quota_rate__c * 100 | number : 6}} %</td> 
                    <td value="18"> ${{commissionPlan.Up_to_commission_amount__c / commissionPlan.Up_to_quota_rate__c | number : 2}} </td>
                    <td value="19"> ${{commissionPlan.Up_to_commission_amount__c | number : 2}}</td>
                  </tr>
                  <tr class="noBorder">
                    <td >Annual Accelerator</td>
                    <td value="20" class="commissionEarning">{{commissionPlan.Beyond_quota_rate__c * 100 | number : 6}} %</td> 
                    <td value="21"> ${{commissionPlan.Beyond_commission_amount__c / commissionPlan.Beyond_quota_rate__c | number : 2}} </td>
                    <td value="22"> ${{commissionPlan.Beyond_commission_amount__c | number : 2}}</td>
                  </tr>
                  <tr ng-if="hasSuperAcc" class="noBorder">
                    <td >Super accelerator</td>
                    <td value="">{{commissionPlan.Up_to_quota_rate__c * superFactor * 100| number : 6}} %</td> 
                    <td value=""> ${{superAddition | number : 2}}</td>
                    <td value=""> ${{commissionPlan.Up_to_quota_rate__c * superFactor * superAddition | number : 2}}</td>
                  </tr>
                  <tr ng-if="hasMultyYear" class="noBorder">
                    <td >Multi Year</td>
                    <td value="23" class="commissionEarning">{{baseRate * 100 | number : 6}} %</td> 
                    <td value="24"> ${{deduction | number : 2}}</td>
                    <td value="25"> ${{baseRate * deduction | number : 2}}</td>
                  </tr>
                  <tr>
                    <td >Total</td>
                    <td value="26">-</td> 
                    <td value="27"> ${{commissionPlan.Up_to_commission_amount__c / commissionPlan.Up_to_quota_rate__c + commissionPlan.Beyond_commission_amount__c / commissionPlan.Beyond_quota_rate__c + deduction * hasMultyYear + hasSuperAcc * superAddition| number : 2}} </td>
                    <td value="28"> ${{totalAmount | number : 2}}</td>
                  </tr>

                  <tr ng-if="hasPIO" class="noBorder">
                    <td rowspan="3" class="buttomBorder">PIO</td>
                    <td >Up to quota</td>
                    <td value="29" class="PIOEarning">{{commissionPlan.Up_to_quota_rate_PIO__c | number : 1}}</td> 
                    <td value="30">{{commissionPlan.Up_to_quota_amount_PIO__c / commissionPlan.Up_to_quota_rate_PIO__c | number }}</td>
                    <td value="31"> ${{commissionPlan.Up_to_quota_amount_PIO__c | number : 2}}</td>
                  </tr>
                  <tr ng-if="hasPIO" class="noBorder">
                    <td >Annual Accelerator</td>
                    <td value="32" class="PIOEarning">{{commissionPlan.Beyond_quota_rate_PIO__c | number : 1}}</td> 
                    <td value="33">{{commissionPlan.Beyond_quota_amount_PIO__c / commissionPlan.Beyond_quota_rate_PIO__c | number }}</td>
                    <td value="34"> ${{commissionPlan.Beyond_quota_amount_PIO__c | number : 2}}</td>
                  </tr>
                  <tr ng-if="hasPIO">
                    <td >Total</td>
                    <td value="35">-</td> 
                    <td value="36">-</td>
                    <td value="37"> ${{commissionPlan.Up_to_quota_amount_PIO__c + commissionPlan.Beyond_quota_amount_PIO__c| number : 2}}</td>
                  </tr>
                </table>
            </div>

           
            <br/>
            <br/>
            <br/>
            <hr class="row section-separator"/>
            <br/>
            <br/>
            <br/>

           
                  
            <div class="container-fluid" id="OpportunityTable">
                <div class="row h3" style="display: none;">
                    Filters:
                </div>
                <div class="row" style="display: none;">
                    Opportunity Name, Close date range
                </div>
                 <!----------Opportunities Table---------->
                <div class="row table-title">
                    Opportunities
                    <button  ng-click="ExportToExcel()" style="display: none;">Export to excel</button>
                </div>
                 <div class="row Opportunities">
                    <table style="width:100%">
                      <tr>
                        <th value="48">Opportunity</th>
                        <th value="50">Close Date</th>
                        <th value="51">Billing Amount</th>
                        <th value="54">Split %</th>
                        <th value="53">Recurring Incentive Billing</th>
                        <th value=""  >Qualified Billing</th>
                        <th value="52">Qualified Billing for Payment</th>
                        <th value="49">Commissionable</th>
                        <th value="55">Collected</th>
                        <th value="">Days since Close Date</th>
                        <th value="56">H1</th>
                      </tr>
                      <tr ng-repeat="(key, items) in commissionScheduleNoPIOList | groupBy: 'Opportunity__c'">
                        <td value="48"><a href="/{{items[0].Opportunity__c}}" target="_parent">{{items[0].Opportunity__r.Name}}</a></td>
                        <td value="50">{{items[0].Opportunity_Close_Date__c | date:'MM/dd/yyyy'}}</td> 
                        <td value="51"> ${{items[0].Opportunity_Amount__c | number : 2}}</td>
                        <td value="54">{{items[0].Credit__c }}%</td>
                        <td value="53"> ${{recurringIncentiveMap[items[0].Opportunity__c] | number : 2}}</td>
                        <td value=""> ${{getSum(items,'Quota_Amount__c') | number : 2}}</td>
                        <td value="52"> ${{getSum(items,'Commission_Amount__c') | number : 2}}</td>
                        <td value="49" class="center">
                            <input type="checkbox" ng-if="getSum(items,'Booking_Schedule__r','Collected_Amount__c') >= Math.floor(getSum(items,'Opportunity_Amount__c'))" ng-checked=true disabled onclick="return false;">
                            <div ng-if="getSum(items,'Booking_Schedule__r','Collected_Amount__c') < Math.floor(getSum(items,'Opportunity_Amount__c')) && getSum(items,'Booking_Schedule__r','Collected_Amount__c') > 0 && isAdvanceableMap[items[0].Opportunity__c]==false">Partial</div> 
                            <input type="checkbox" ng-if="getSum(items,'Booking_Schedule__r','Collected_Amount__c') < Math.floor(getSum(items,'Opportunity_Amount__c')) && (getSum(items,'Booking_Schedule__r','Collected_Amount__c') <= 0 || isAdvanceableMap[items[0].Opportunity__c] == true)" ng-checked=isAdvanceableMap[items[0].Opportunity__c] disabled onclick="return false;">
                        </td> 
                        <td value="55"> ${{getSum(items,'Booking_Schedule__r','Collected_Amount__c') | number : 2}}</td>
                        <td value="">{{items[0].Opportunity__r.daysToClose__c * -1}}</td>
                        <td value="56" class="center"><input type="checkbox" ng-checked=items[0].H1_Deal__c disabled onclick="return false;"></td>
                        <!--td value="test">{{items[0].Commission_Record__c}}</td>
                        <td value="test">{{items[0].Commission_Record_Type__c}}</td-->
                      </tr>
                      <tr class="total-line">
                        <td value="48"></td>
                        <td value="50"></td> 
                        <td value="51"> ${{opportunityAmountTotal | number : 2}}</td>
                        <td value="54"></td>
                        <td value="53"> ${{recurringIncentive | number : 2}}</td>
                        <td value=""> ${{getSum(commissionScheduleNoPIOList,'Quota_Amount__c') | number : 2}}</td>
                        <td value="52"> ${{getSum(commissionScheduleNoPIOList,'Commission_Amount__c') | number : 2}}</td>
                        <td value="49"></td> 
                        <td value="55"> ${{getSum(commissionScheduleNoPIOList,'Booking_Schedule__r','Collected_Amount__c') | number : 2}}</td>
                        <td value=""></td>
                        <td value="56"></td>
                      </tr>
                    </table>
                </div>
                
                <div>
                    <div class="row h3" style="display: none;">
                        Filter by Opportunity Type
                    </div>
                     <!----------Opportunity Detail Table---------->
                    <div class="row table-title">
                        Opportunities Detail By Line Item
                    </div>
                     <div class="row">
                        <table style="width:100%">
                          <tr>
                            <th value="57">Opportunity</th>
                            <th value="58">Type</th>
                            <th value="50">Close Date</th>
                            <!--th value="60">Booking Date</th-->
                            <th value="61">Billing Amount</th>
                            <th value=""  >Split %</th>    
                            <th value=""  >Commission Credit %</th> 
                            <th value="53">Recurring Incentive Billing</th>
                            <th value=""  >Qualified Billing</th>
                            <th value="62">Qualified Billing for Payment</th>
                            <th value="59">Commissionable</th>
                            <th value="">Days since Close Date</th>
                          </tr>
                          <tr ng-repeat="cs in commissionScheduleNoPIOList">
                            <td value="57"><a href="/{{cs.Opportunity__c}}" target="_parent">{{cs.Opportunity__r.Name}}</a></td>
                            <td value="58">{{cs.Type__c}}</td>
                            <td value="50">{{cs.Opportunity_Close_Date__c | date:'MM/dd/yyyy'}}</td> 
                            <!--td value="60">{{cs.Booking_Date__c | date:'MM/dd/yyyy'}}</td-->
                            <td value="61"> ${{cs.Booking_Schedule__r.Amount__c | number : 2}}</td>
                            <td value=""  >{{cs.Credit__c }} %</td>
                            <td value=""  > {{multiYearFactor[cs.Id]*100 }}% </td><!--{{hasMultyYear && cs.Type__c.indexOf('Multi Year') > -1 ? multiYearFactor*100 : 100 }}%-->
                            <td value="53">{{ cs.Type__c == 'Perpetual' || cs.Type__c == 'Products' ? (' $' + (recurringIncentiveMap[cs.Id] | number : 2)) : ''}}</td>
                            <td value=""  > ${{cs.Quota_Amount__c | number : 2}}</td>
                            <td value="62"> ${{cs.Commission_Amount__c | number : 2}}</td>
                            <td value="59" class="center">
                                <div ng-if="cs.Booking_Schedule__r.Collected_Amount__c > 0 && cs.Is_Advancable__c==false">Partial</div> 
                                <input type="checkbox" ng-if="cs.Booking_Schedule__r.Collected_Amount__c <= 0 || cs.Is_Advancable__c == true" ng-checked=cs.Is_Advancable__c disabled onclick="return false;">
                            </td>
                            <td value="">{{cs.Opportunity__r.daysToClose__c * -1}}</td>
                          </tr>
                          <tr class="total-line">
                            <td value="57"></td>
                            <td value="58"></td>
                            <td value="50"></td> 
                            <!--td value="60"></td-->
                            <td value="61"> ${{getSum(commissionScheduleNoPIOList,'Booking_Schedule__r','Amount__c') | number : 2}}</td>
                            <td value=""  ></td>
                            <td value=""  ></td>
                            <td value=""  ></td>
                            <td value=""  > ${{getSum(commissionScheduleNoPIOList,'Quota_Amount__c') | number : 2}}</td>
                            <td value="62"> ${{getSum(commissionScheduleNoPIOList,'Commission_Amount__c') | number : 2}}</td>
                            <td value="59"></td>
                            <td value=""  ></td>
                          </tr>
                        </table>
                    </div>
                    <!----------Sum By type---------->
                    <div class="row table-title" style="display: none;">
                        Summarize By Type
                    </div>
                    <div class="row" style="display: none;">
                        <table style="width:100%">
                          <tr>
                            <th>Type</th>
                            <th>Sum Quota Amount</th>
                            <th>Sum Commission Amount</th>
                          </tr>
                          <tr ng-repeat="(key, items) in commissionScheduleNoPIOList | groupBy: 'Type__c'">
                            <td value="42">{{items[0].Type__c}}</td>
                            <td value="43">{{getSum(items,'Quota_Amount__c') | number: 2}} $</td>
                            <td value="44">{{getSum(items,'Commission_Amount__c') | number : 2}} $</td>
                          </tr>
                        </table>
                    </div>
                </div>

            </div>



            <!----------PIO Table---------->
                
            <div class="container-fluid PIO-table" id="PIOTable" ng-show="hasPIO">
                <div class="row h3" style="display: none;">
                    Filters:
                </div>
                <div class="row" style="display: none;">
                    Opportunity Name, Close date range
                </div>
                <div  class="row table-title">
                    PIO
                </div>
                 <div class="row">
                    <table>
                      <tr>
                        <th value="63">Opportunity Name</th>
                        <th value="64">Creation Date</th>
                        <th value="65">PIO #</th>
                      </tr>
                        <tr ng-repeat="(key, items) in commissionSchedulePIOList | groupBy: 'Opportunity__c'">
                            <td value="63"><a href="/{{items[0].Opportunity__c}}" target="_parent">{{items[0].Opportunity__r.Name}}</a></td>
                            <td value="64">{{items[0].Opportunity__r.CreatedDate | date:'MM/dd/yyyy'}}</td> 
                            <td value="65">{{getCount(items,'Opportunity__c') | number}}</td>
                            <!--td value="test">{{items[0].Commission_Record_Type__c}}</td>
                            <td value="test">{{items[0].Commission_Record__c}}</td-->
                        </tr>
                        <tr class="total-line">
                            <td value="63"></td>
                            <td value="64"></td> 
                            <td value="65">{{getCount(commissionSchedulePIOList,'Opportunity__c') | number}}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <br/>
            <br/>
            <br/>
            <!--hr class="section-separator"/>
            <br/>
            <br/>
            <br/-->

             <!----------Rules---------->
            <div class="row table-title" ng-show="false">
                Commission Plan's Rules
            </div>
            <div class="row rules" ng-show="false">
                <table style="width:50%">
                  <tr>
                    <th>Name</th>
                    <th>Attributes</th> 
                  </tr>
                  <tr ng-repeat="cra in commissionRuleAssList">
                    <td value="66">{{cra.Name}}</td>
                    <td value="67" ng-bind-html="cra.Rule__c"></td>
                  </tr>
                </table>
            </div>


        </div>
    </div>
</div>