<apex:page controller="CustomersRetention" >
    <apex:panelGrid columns="1"> 
    <!--
    <apex:chart id="won" data="{!newLongTermCustomers}" width="400" height="200">
      <apex:axis type="Category" position="bottom" fields="year" title="Year"/>
      <apex:barSeries orientation="vertical" axis="left" xField="year" yField="customers"/>
      <apex:axis type="Numeric" position="left" fields="customers" title="New Customers" minimum="0"/>
    </apex:chart>
 
    <apex:chart id="lost" data="{!lostLongTermCustomers}" width="400" height="200">
      <apex:axis type="Category" position="bottom" fields="year" title="Year"/>
      <apex:barSeries orientation="vertical" axis="left" xField="year" yField="customers"/>
      <apex:axis type="Numeric" position="left" fields="customers" title="Lost Customers" minimum="0"/>
    </apex:chart>
    -->
  
    <apex:chart data="{!installbase}" width="400" height="200">
      <apex:axis type="Category" position="bottom" fields="year" title="Year"/>
      <apex:barSeries orientation="vertical" axis="left" xField="year" yField="installbase">
          <apex:chartLabel />
      </apex:barSeries>
      <apex:axis type="Numeric" position="left" fields="installbase" title="Starting Installbase" minimum="0"/>
    </apex:chart>

    <apex:chart data="{!installbase}" width="400" height="200">
      <apex:axis type="Category" position="bottom" fields="year" title="Year"/>
      <apex:barSeries orientation="vertical" axis="left" xField="year" yField="retention">
          <apex:chartLabel />
      </apex:barSeries>
      <apex:axis type="Numeric" position="left" fields="retention" title="Retention %" minimum="0"/>
    </apex:chart>


    <apex:chart data="{!installbase}" width="400" height="200">
      <apex:axis type="Category" position="bottom" fields="year" title="Year"/>
      <apex:barSeries orientation="vertical" axis="left" xField="year" yField="expansionRate">
          <apex:chartLabel />
      </apex:barSeries>
      <apex:axis type="Numeric" position="left" fields="expansionRate" title="Expansion %" minimum="0"/>
    </apex:chart>
    </apex:panelGrid>
</apex:page>