<apex:page controller="RecurringContractsAnalyzer">
   <br/>
   
  <apex:panelGroup rendered="{!contracts.size>0}"> 
    <b>MRR</b>
    <apex:chart data="{!records}" width="400" height="200">
      <apex:axis type="Category" position="bottom" fields="periodEnd">
          <apex:chartLabel rendererFn="renderChartLabelMonth" rotate="90"/>
      </apex:axis>
      <apex:barSeries orientation="vertical" axis="left" xField="periodEnd" yField="MRR">
        <apex:chartTips height="25" width="150" rendererFn="renderChartTipMRR"/>
      </apex:barSeries>
      <apex:axis type="Numeric" position="left" fields="MRR" title="MRR" minimum="0">
        <apex:chartLabel rendererFn="renderChartLabelMRR"/>
      </apex:axis>
      <apex:lineSeries axis="right" xField="periodEnd" yField="netRenewalRate">
        <apex:chartTips height="25" width="150" rendered="false" rendererFn="renderChartTipRate"/>
      </apex:lineSeries>
      <apex:axis type="Numeric" position="right" fields="netRenewalRate" title="Net Renewal Rate" minimum="0.5" maximum="1.5">
        <apex:chartLabel rendererFn="renderChartLabelRate"/>
      </apex:axis>
    </apex:chart>
  </apex:panelGroup>


          
    <script>
       function renderChartLabelMRR(klass, item) {
        var label = addCommas(klass);
        return label;
      }

      function renderChartLabelMonth(klass, item) {
        var d = new Date(klass);
        // return d.toString();
        return d.getFullYear() + "-" + (d.getMonth()+1) ;
      }

      function renderChartLabelRate(klass, item) {
        return Math.round(klass * 100)  + "%";
      }

      function renderChartTipMRR(klass, item) {
        var amount = item.storeItem.get('MRR').toFixed(0);
        this.setTitle('$' + addCommas(amount));
      }
 
      function renderChartTipRate(klass, item) {
      
      }
      
      function addCommas(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
      }
      
    </script>
    
   <!--    -->
</apex:page>