<apex:page controller="RecurringContractsAnalyzer">
   <br/>
   
  <apex:panelGroup rendered="{!contracts.size>0}"> 
    <b>MRR</b>
    <apex:chart data="{!records}" width="600" height="200">
      <apex:axis type="Category" position="bottom" fields="periodEnd">
          <apex:chartLabel rendererFn="renderChartLabelMonth" rotate="90"/>
      </apex:axis>
      <apex:barSeries orientation="vertical" axis="left" xField="periodEnd" yField="MRR">
        <apex:chartTips height="25" width="150" rendererFn="renderChartTipMRR"/>
      </apex:barSeries>
      <apex:axis type="Numeric" position="left" fields="MRR" title="MRR" minimum="0">
        <apex:chartLabel rendererFn="renderChartLabelMRR"/>
      </apex:axis>
      <apex:lineSeries axis="right" xField="periodEnd" yField="netRenewalRate">
        <apex:chartTips height="25" width="150" rendered="false" rendererFn="renderChartTipRate"/>
      </apex:lineSeries>
      <apex:axis type="Numeric" position="right" fields="netRenewalRate" title="Net Renewal Rate" minimum="0.5" maximum="1.5">
        <apex:chartLabel rendererFn="renderChartLabelRate"/>
      </apex:axis>
    </apex:chart>
  </apex:panelGroup>
   <br/>
   <apex:outputLink value="/apex/RecurringContractsAnalysisXLS" id="download">XLS download</apex:outputLink><br/>

      
   <apex:pageBlock >
        <apex:pageBlockTable value="{!records}" var="o">
             <apex:column value="{!o.periodEndString}" headerValue="Period"/>

             <!-- apex:column headerValue="Period">
                 <apex:outputText value="{0,date,dd/MM/yyyy}">
                     <apex:param value="{!o.periodEnd}" />
                 </apex:outputText>
             </apex:column -->
            <apex:column headerValue="MRR">
                 <apex:outputText value="{0, number, 0,000}">
                     <apex:param value="{!o.MRR}" />
                 </apex:outputText>
             </apex:column>
           <apex:column headerValue="New MRR">
                 <apex:outputText value="{0, number, 0,000}">
                     <apex:param value="{!o.newMRR}" />
                 </apex:outputText>
             </apex:column>
            <apex:column headerValue="Renewed MRR">
                 <apex:outputText value="{0, number, 0,000}">
                     <apex:param value="{!o.renewedMRR}" />
                 </apex:outputText>
             </apex:column>
            <apex:column headerValue="Churned MRR">
                 <apex:outputText value="{0, number, 0,000}">
                     <apex:param value="{!o.churnedMRR}" />
                 </apex:outputText>
             </apex:column>
 
            <apex:column headerValue="Net Renewal Rate">
                 <apex:outputText value="{0, number, 0.0}">
                     <apex:param value="{!o.netRenewalRate*100}" />
                 </apex:outputText>
             </apex:column>
 
             <apex:column headerValue="Renewal Rate">
                 <apex:outputText value="{0, number, 0.0}">
                     <apex:param value="{!o.renewalRate*100}" />
                 </apex:outputText>
             </apex:column>
        </apex:pageBlockTable>
    </apex:pageBlock>
    
    <script>
       function renderChartLabelMRR(klass, item) {
        var label = addCommas(klass);
        return label;
      }

      function renderChartLabelMonth(klass, item) {
        var d = new Date(klass);
        // return d.toString();
        return d.getFullYear() + "-" + (d.getMonth()+1) ;
      }

      function renderChartLabelRate(klass, item) {
        return Math.round(klass * 100)  + "%";
      }

      function renderChartTipMRR(klass, item) {
        var amount = item.storeItem.get('MRR').toFixed(0);
        this.setTitle('$' + addCommas(amount));
      }
 
      function renderChartTipRate(klass, item) {
      
      }
      
      function addCommas(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
      }
      
    </script>
    
   <!--    -->
</apex:page>