<apex:page standardController="Case">
    <c:SP_Process labels="['New','Assigned to Support','Assigned','Assigned to Integration Team','Pending Customer','Pending PM','Assigned to R&D','Considered for Roadmap','Work In Progress','Solve Pending Relesed','Solved Released','Solved Pending Customer Approval','Solved','No Resolution','Close']"
        shortlabels="['NEW','ATS','ASS','AIT','PC','PM','RND','RM', 'WIP','SPR','SR','SPC','SO','NR','CLS']" 
      selected="{!case.Status}"
    />
</apex:page>