.THIS .val{
    width: 100%; 
    display: inline-block;     
    line-height: 1.875rem;    
    min-height: calc(2.125rem + 2px);
}

.THIS .label-val{
    color: #696969; 
    line-height: 1.375; 
    margin-bottom: 0.25rem;
}

.THIS .left-col{
    margin-left: 20px;
}

.THIS .uiButton{
    color: #FFFFFF !important;
}