.THIS .largeModal {
    /*height: 80%;
    width: 45%;*/
    max-height: 800px;
    max-width: 800px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.THIS .fix-relative-pos{
    display: flow-root;
    height: 91%;
    margin-bottom: 0px !important;
}


.THIS .resizedPicklist {
    /* max-width: 210px; */
}

.THIS.dn {
    display:none;
}

.THIS.db {
    display:block;
}

@media screen and (min-width: 766px) {
    .THIS .resizedPicklist {
        max-width: 210px;
    }
}
@media screen and (min-width: 1024px) {    
    .THIS .largeModal {
        margin-top: 2.5%;
    }
}