#wrap{
    width:100%;
    height:100%;
    box-sizing:border-box;
    padding:2.5% 5%;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

.payment-due{
	/*border: 7px solid #dddddd;*/
}
.table-title{
	font-size: 28px;
}

table td, table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
table.border-table td, table.border-table th{border-width: 0px;} /*override the constant td, th border style*/
table.border-table td, table.border-table th{border-right: 1px solid #dddddd;} /* add column gray border*/
 .border-table td:last-child, .border-table th:last-child{border-right: 1px solid black;}/* remove last gray column border*/
 table.border-table, .border-table tr{border:1px solid black;} /*add table outside border*/

.border-table tr.noBorder { border-bottom: 1px solid #dddddd } /*remove border from inside tr*/
tr td.buttomBorder {border-bottom:1px solid black} 

table{
	margin-bottom: 1%;
}

td.center{
	text-align: center;
}

tr:nth-child(odd) {
    background-color: #d6edf1c7;
}

.rules tr:nth-child(odd){
	background-color: #d6edf173;
}

/*if billings-table is one table separated by headers only
.billings-table tr{
	background-color: white;
}
.billings-table th{
	background-color: #d6edf1c7;
}
*/
.section-separator{
	    border: 1px solid #333;
}


/*Change the size here*/
div.tooltip-inner {
    max-width: 350px;
}


/** NOT IN USE*/
.row-separator{
	background-color: #aeaeae;
}

.formula{
	border: 1px solid black;
	display: none; 	
}
.operator{
	width: 1%;
}
.operand{
	    width: 7.31%;
}

.label-col-sf{
	text-align: right;
    font-weight: bold;
    font-family: 'Arial','Helvetica',sans-serif;
    color: #4a4a56;
    font-size: 81%;
    width: 18.666667%;
    /*border-bottom: 1px solid #e3deb8*/
}

.data-col-sf{
    font-family: 'Arial','Helvetica',sans-serif;
    color: #000;
    font-size: 89%;
    margin-left: -0.8%;
    /*border-bottom: 1px solid #e3deb8*/
}
.pbSubheader-sf{
	border-width: 2px 0 0;
    border-style: solid;
    color: #27282e;
    padding: 4px 3px;
    border-color: #bfbc5a;
    margin-top: 1%;
}
.header-sf{
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    color: #27282e;
    margin-bottom: 0.4%;
}
.helpOrb {
    background-image: url(/img/help/helpOrbs.gif);
    background-position: 0 0;
    width: 20px;
    height: 15px;
}
.helpOrb:hover{background-position:top right}    